export RUST_LOG_FORMAT=devel
export RUST_BACKTRACE=1
#export RUST_LOG=actix_web=debug,prisma=debug,sql_connector=debug,prisma_query=debug
export RUST_LOG=debug

export PRISMA_CONFIG_PATH=$(pwd)/prisma.yml
export PRISMA_DML_PATH=$(pwd)/datamodel_v2.prisma

export PRISMA2_BINARY_PATH="/usr/local/lib/node_modules/prisma2/"