source_up

# Override parent env var, use specific one for now
export PRISMA_CONFIG_PATH=$(pwd)/prisma.yml
export PRISMA_DML_PATH=$(pwd)/datamodel_v2.prisma

export PRISMA2_BINARY_PATH="/usr/local/lib/node_modules/prisma2/"