source_up

export SCHEMA_INFERRER_PATH=../images/schema-inferrer-bin/target/prisma-native-image/schema-inferrer-bin
export PRISMA_SCHEMA_PATH=$(pwd)/schema.prisma

# Override parent env var, use specific one for now
export PRISMA_CONFIG_PATH=$(pwd)/prisma.yml