<configuration>
    <logger name="slick" level="OFF" />
    <logger name="com.zaxxer.hikari" level="OFF" />
    <logger name="com.prisma" level="INFO" />

    <!--<statusListener class="ch.qos.logback.core.status.NopStatusListener" />-->

    <!--<root level="INFO">-->
        <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
            <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
        <!--</appender>-->
    <!--</root>-->
</configuration>
