export CLUSTER_VERSION=local
export COMMIT_SHA="dummy-commit-sha"
export PRISMA_CONFIG_PATH=$(pwd)/prisma.yml
export RUST_BACKTRACE=1
export GRAAL_HOME=${GRAAL_HOME}
export RABBITMQ_URI=amqp://localhost
export USE_NATIVE_DRIVER=0
export SERVER_ROOT=$(pwd)


## Prisma binary integration test variables

# Path to the binary that is used for integration testing
export PRISMA_BINARY_PATH=$(pwd)/prisma-rs/target/release/prisma

# Path to the config the binary should load
export PRISMA_BINARY_CONFIG_PATH=$(pwd)/prisma-rs/prisma.yml

## Rust specific variables
export SCHEMA_INFERRER_PATH=$(pwd)/images/schema-inferrer-bin/target/prisma-native-image/schema-inferrer-bin
export PRISMA_SDL_PATH=$(pwd)/prisma-rs/schema.prisma
export RUST_LOG=actix_web=debug,prisma=debug,sql_connector=debug
export RUST_BACKTRACE=1