export CLUSTER_VERSION=local
export COMMIT_SHA="dummy-commit-sha"
export PRISMA_CONFIG_PATH=$(pwd)/prisma.yml
export PRISMA_EXAMPLE_SCHEMA=$(pwd)/schema.prisma
export RUST_BACKTRACE=1
export GRAAL_HOME=${GRAAL_HOME}
export RABBITMQ_URI=amqp://localhost
export USE_NATIVE_DRIVER=1
export SERVER_ROOT=$(pwd)
