export CLUSTER_VERSION=local
export COMMIT_SHA="dummy-commit-sha"
export PRISMA_CONFIG_PATH=$(pwd)/prisma.yml
export RUST_BACKTRACE=1
export GRAAL_HOME=${GRAAL_HOME}
export RABBITMQ_URI=amqp://localhost
export USE_NATIVE_DRIVER=1
export SERVER_ROOT=$(pwd)

# Rust-specific env vars
export SCHEMA_INFERRER_PATH=$(pwd)/images/schema-inferrer-bin/target/prisma-native-image/schema-inferrer-bin
export PRISMA_SCHEMA_PATH=$(pwd)/schema.prisma