.DS_Store

*.class
*.log
.coursier

.ivy2

# Idea
.idea
.idea_modules
*.iml

# sbt specific
.sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
ensime.sbt

# Scala-IDE specific
.scala_dependencies

.ensime
.ensime_cache

# test files
/schema
/request.json
/docker.env

# buildkite artifacts
buildkite-script-*

/prisma.yml

**/libjdbc_native*
**/libjwt_native*
.buildkite/scripts/docker-native/prisma-native

*svm-heapdump-*
out

# sqlite
*.db

prisma-rs/build/
