.DS_Store

*.class
*.log
.coursier
.envrc

.ivy2

# Idea
.idea
.idea_modules

# sbt specific
.sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.ensime
.ensime_cache

# test files
/schema
/request.json
/docker.env

# buildkite artifacts
buildkite-script-*