export TEST_SQL_CLIENT_HOST="127.0.0.1"
export TEST_SQL_CLIENT_PORT="3306"
export TEST_SQL_CLIENT_USER="root"
export TEST_SQL_CLIENT_PASSWORD="graphcool"
export TEST_SQL_CLIENT_CONNECTION_LIMIT=10
export TEST_SQL_INTERNAL_HOST="127.0.0.1"
export TEST_SQL_INTERNAL_PORT="3306"
export TEST_SQL_INTERNAL_USER="root"
export TEST_SQL_INTERNAL_PASSWORD="graphcool"
export TEST_SQL_INTERNAL_DATABASE="graphcool"
export TEST_SQL_INTERNAL_CONNECTION_LIMIT=10
export TEST_SQL_LOGS_PORT="3306"
export TEST_SQL_LOGS_HOST="127.0.0.1"
export TEST_SQL_LOGS_USER="root"
export TEST_SQL_LOGS_PASSWORD="graphcool"
export TEST_SQL_LOGS_DATABASE="logs"
export SQL_INTERNAL_DATABASE="graphcool"
export SQL_CLIENT_PASSWORD="graphcool"
export SQL_LOGS_HOST="127.0.0.1"
export SQL_LOGS_PORT="3306"
export SQL_LOGS_USER="root"
export SQL_LOGS_PASSWORD="graphcool"
export SQL_LOGS_DATABASE="logs"
export JWT_SECRET="abbaabbaabbaabbaabbaabba"
export AUTH0_CLIENT_SECRET="ZXVmNmFoa29oZzdJZGFlNVF1YWg0b2NoZWVwaG9oY2hhaGdoaWk2ZQ=="
export SYSTEM_API_SECRET="systemApiSecret"
export RABBITMQ_URI="amqp://127.0.0.1:5672"
export GLOBAL_RABBIT_URI="amqp://127.0.0.1:5672"
export INITIAL_PRICING_PLAN="initial-plan"
export BUGSNAG_API_KEY=""
export SCHEMA_MANAGER_ENDPOINT="empty"
export SCHEMA_MANAGER_SECRET="empty"
export AWS_ACCESS_KEY_ID="empty"
export AWS_SECRET_ACCESS_KEY="empty"
export AWS_REGION="eu-west-1"
export CLIENT_API_ADDRESS="http://localhost:8888/"
export PACKAGECLOUD_PW=""
export PRIVATE_CLIENT_API_SECRET="notasecret"